@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Karla:wght@400;600;700&family=Oswald:wght@200&family=Source+Sans+Pro:wght@400;600;700&display=swap');

nav {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 2px 20px;
    border-bottom: thin solid black;
}

.cart {
    font-size: 2em;
}

.websiteTitle {
    font-family: 'Gloock', 'Karla', sans-serif;
    letter-spacing: 2.5px;
    font-size: 2em;
}

.redirectContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lionIcon {
    font-size: 4em;
    margin-right: 3px;
}

.homeRedirectContainer {
    margin-left: auto;
}

.homeRedirect {
    font-family: 'Source Sans Pro', 'Karla', sans-serif;
    font-weight: 400;
    border: solid thin white;
    padding: 0 10px;
    transition: 0.3s;
}

.homeRedirect:hover {
    border: solid thin black;
    border-radius: 10px;
}

.link, .homeLink {
    text-decoration: none;
    color: inherit;
    border: solid thin white;
    transition: 0.3s;
}

.link:hover {
    border: thin solid black;
    border-radius: 10px;
    padding: 0 10px;
}

.mainImgContainer {
    width: 100%;
}

.mainItemImage {
    width: 100%;
}

.bigTextContainer {
    display: flex;
    justify-content: center;
    font-size: 2em;
    border: thin solid black;
    border-right: none;
    border-left: none;
    margin-top: -4px;
    width: 100%;
    padding: 15px 0px;
    margin-bottom: 10px;
}

.bigText {
    font-family: 'Oswald';
    margin: 0;
    letter-spacing: 10px;
}

.productsContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    margin-bottom: 30px;
}

.arrow {
    margin: 0;
    padding: 0;
    width: 5em;
}

.arrowPointer {
    font-size: 2em;
    cursor: pointer;
}

.productImageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
}

.productCardContainer {
    border: solid black thin;
    width: 80vh;
    padding: 30px 0px;
}

.productImage {
    width: 110%;
}

.productTitleContainer {
    display: flex;
    justify-content: center;
}

.productPageName {
    font-family: 'Gloock', sans-serif;
    font-size: 2em;
    letter-spacing: 4px;
}

.clothingPageContainer {
    display: flex;
    flex-direction: row;
}

.transactionContainer {
    background-color: whitesmoke;
    padding: 30px;
}

.clothingPageContainer {
    width: 100%;
}

.transactionContainer {
    width: 50%;
}

.clothingPageImageContainer {
    width: 50%;
}

.clothingPageImage {
    width: 100%;
}

.priceTag {
    font-weight: 400;
    margin-top: -10px;
    font-size: 30px;
    color: darkgrey;
}

.clothingPara {
    font-size: 1.5em;
    line-height: 28px;
    font-weight: 400;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    border: none;
}

.checkout {
    position: absolute;
    bottom: 1px;
    background-color: #2d2e2b;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    padding: 10px 120px;
    cursor: pointer;
    transition: 0.3s;
}

.checkout:focus {
    outline: none;
}

.checkout:hover {
    filter: brightness(90%);
}

.cartItems {
    padding: 0 10px;
}

.cartItem {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    border: solid thin black;
    border-radius: 10px;
}

.cartItemPrice {
    margin-top: -20px;
    font-weight: 400;
}


.cartItemImageContainer {
    width: 6em;
}

.cartItem-image {
    width: 100%;
}

.cartTitleContainer {
    border-bottom: solid thin black;
    margin: 0 40%;
}

.cartTitle {
    font-family: 'Gloock';
    letter-spacing: 2px;
    margin-left: 20px;
    text-align: center;
}

.checkoutContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 30px;
    border-top: solid thin black;
    width: 100%;
    bottom: 10px;
}

.total {
    font-size: 2em;
    font-family: 'Karla';
    font-weight: 400;
}

.checkoutButton {
    background-color: #2d2e2b;
    color: white;
    border: none;
    font-size: 1.5em;
    padding: 10px 200px;
    border-radius: 10px;
    cursor: pointer;
}

.checkoutButton:hover {
    filter: brightness(90%);
}

.emptyCartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.emptyCart {
    font-weight: 400;
    letter-spacing: 2px;
}

.sideBar {
    font-size: 2em;
    cursor: pointer;
}

.navSideBar {
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: #2d2e2b;
    color: white;
    padding: 10px;
    position: absolute;
    right: 0px;
    bottom: 75vh;
    border-radius: 10px;
    font-weight: 700;
}

.navSideBarLogin {
    border-bottom: thin solid white;
    padding-bottom: 15px;
}

.sideBarLink {
    text-decoration: none;
    color: inherit;
}

.topLoginPart {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.loginPageForm {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
    border-radius: 10px;
    margin-top: 50px;
}

.loginPageInputContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.loginPageInput {
    font-size: 1.2em;
    border: none;
    background-color: #f7f5f7;
    width: 100%;
}

.loginPageInput:focus {
    outline: none;
}

.inputContainer {
    padding: 10px;
    border-radius: 10px;
    background-color: #f7f5f7;
    width: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputContainer:focus {
    outline-color: red;
}

.eye {
    font-size: 1.8em;
    cursor: pointer;
}

.loginPageButton {
    background-color: #4d7edf;
    border: none;
    color: white;
    font-weight: 700;
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s;
}

.loginPageButton:hover {
    filter: brightness(90%);
}

.loginLion {
    font-size: 3em;
}

.forgotPassword {
    color: #74737c;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: -20px;
}

.greetUser {
    display: flex;
    justify-content: center;
}

.favoritesTitle {
    font-weight: 300;
}

.favoriteTitleContainer {
    margin: 0 30px;
    margin-top: 50px;
    border-bottom: solid thin black;
}

.cartLink {
    text-decoration: none;
    color: inherit;
}